<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:fragment="admin-sidebar" id="admin-sidebar">
    <aside id="admin-nav">
        <nav class="navbar navbar-dark bg-dark">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" href="#">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=java}" href="#">Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=python}" href="#">Python</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=php}" href="#">Php</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=js}" href="#">Javascript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=swift}" href="#">Swift</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=C%2b%2b}" href="#">C++</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=C%23}" href="#">C#</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=1c}" href="#">1C</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lang/skill?name=golang}" href="#">Go</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
</body>
</html>